body{background-image: url(../images/background.jpeg);}
div{background-color:red;display:block;line-height:1.1;margin-left:420px;margin-top:100px;width:30%;padding-left: 15px;padding-top:15px;padding-bottom:15px;}
div ol li a {color:blue;font-size:2em;text-decoration: none;}
